@import url(https://fonts.googleapis.com/css?family=Nunito:300);
body {
    background: #145A32;
    font: normal 100% 'Nunito', sans-serif;
    margin: 0;
    color: #555;
}

body > * {
    width: 890px;
    padding: 20px;
    margin: 20px auto;
    background: white;
}



a {
    color: #28D;
    text-decoration: none;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 300;
}

a strong {
  color: inherit;
  font-weight: 900;
}

strong {
  font-weight: 900;
  color: #151515;
}

em {
  font-weight: 100;
}

ul {
    list-style-type: square;
    padding: 0 1em;
}

li {
    padding:  5px;
}

td { padding: 0px 5px 0px 0px; }

code, pre, tt {
    font: 12pt Consolas, Monaco, monospace;
}

pre {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0.5em;
}


header {
    position: relative;
}

header nav {
    font-size: 110%;
    position: absolute;
    right: 0;
    top: 20px;
}

header nav ul {
    padding: 0;
    margin: 0;
}

header nav li {
    display: inline-block;
    margin: 0 0.15em;
    vertical-align: middle;
}

